pkgbase = drone-cli
	pkgdesc = Drone CLI
	pkgver = 1.6.2
	pkgrel = 1
	url = http://docs.drone.io/cli-installation/
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = Apache
	makedepends = go
	depends = glibc
	source = https://github.com/drone/drone-cli/archive/v1.6.2.tar.gz
	sha256sums = 7f0fc4c884eda352511c6d39e1ff0e3ebe97242c60f9f5fd983376b607b83148

pkgname = drone-cli
